html, body {
    height: 100%;
    margin: 0;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.landingBanner {
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),
                       rgba(0, 0, 0, 0.5)), url(../assets/banner.jpg);
    background-size: 1950px;
    min-height: 400px;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
      "slnt" 0;
}

.navBar {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.leftNav {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-grow: 1;
}
.leftNav > h1 {
    margin-left: 2em;
    color: white;
    font-size: 2em;
    font-weight: 600;
}

.rightNav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex-grow: 1;
    gap: 50px;
    font-size: 1em;
}

.rightNav > h2 {
    color: white;
    font-weight: 200;
}

.rightNav > .login {
    margin-right: 2em;
}

.bannerText {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 30%;
    align-self: center;
}

.bannerText > p {
    margin-top: 50px;
    color: white;
    font-size: 34px;
    font-weight: 400;
}

.inputSearch {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: center;
    width: 100%;
}

.inputSearch > input{
    width: 30%;
    height: 4em;
    font-size: 1em;
    padding: 0px;
    margin: 0px;
    border-radius: 8px;
}

.inputSearch > button {
    background-image: url(../assets/search-icon.webp);
    background-size: 59px;
    width: 5em;
}

.titleFilterRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 95%;
    align-self: center;
    margin: 10px 0px;
}

.photoGrid {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 95%;
    gap: 10px 10px;
    flex-wrap: wrap;
    align-self: center;
    margin-bottom: 30px;
}

.photoGrid > img {
    flex-grow: 1;
    height: 300px;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 100px;
}