html, body {
    height: 100%;
    margin: 0;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.post-nav{
    display: flex;
    flex-grow: 1;
    flex-direction: row-reverse;
    align-items: center;
}

.green-button {
    width: 100px;
    height: 50px;
    background-color: #059377;
    color: white;
    border-color: white;
    border-radius: 8px;
    box-shadow: none;
    font-size: 1em;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;

}
.post-nav > .green-button {
    margin-right: 60px;
}
.post-background{
    flex-grow: 2;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),
                       rgba(0, 0, 0, 0.5)), url(/assets/login\ banner.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
}

.white-box{
    border-radius: 30px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    height: 80%;
    justify-content: start;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
      "slnt" 0;
}

.white-box > h1{
    font-size: 3em;
    margin: 0;
    margin-top: 1em;
}

.white-box > p {
    margin-top: 2em;
}

.white-box > input {
    margin-top: 26em;
}

.white-box > button {
    margin-top: 2em;
}